* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden; /*Retirar barra de rolagem na horizontal*/
}

body {
    background-color: #ccdff3;
}

h2 {
    text-align: center;
    margin-bottom: 16px;
}

#title-about {
    text-align: start;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header, footer {
    background-color: #007bff;
    color: #fff;    
    padding-top: 16px;   
}

/*Fazer com que o cabeçalho acompanhe o scroll*/
header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

/*Como existem dois container, aqui está destacando que apenas o container do header/footer será alterado*/
header > .container,
footer > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav {
    background-color: #444647;
    padding: 16px 0;
    display: none;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

.container-flex {
    display: flex;
}

#about-company img {
    max-width: 400px;
    margin-right: 24px;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}

.list-ticket {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.list-ticket li{
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
}

.list-ticket li img {
    max-width: 100%;
}

.list-ticket li h3 {
    margin: 16px 0;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border-color: black;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ccdff3;
    color: #000000;
    border: 1px solid #000000;
}

.price {
    margin: 16px 0;
    display: block;
}

.price del {
    color: #777373;
    font-size: 14px;
}

.form-wrapper {
    border: 1px solid #000000;
    padding: 16px;
    border-radius: 8px;
    background-color: #a3c5e4; 
    margin-top: 16px;
}

.form-campo {
    margin-bottom: 16px;   
    width: 100%;
    max-width: 60%;
}

.form-campo label {
    font-weight: bold;
    display: block;
    width: 100%;
}

.form-campo input {
    width: 100%;
    display: block;
    padding: 8px;
    border-radius: 5px;
}

form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;   
}

form button {
    max-width: 130px;
}

footer li{
    list-style: none;
    margin-left: 16px;
}

footer li img {
    height: 32px;
}